Plan działania.txt
Python_w_praktyce___zagadnienia_projektu_zaliczeniowego-1.pdf
~$Raport.docx
moje/roadmap.png
moje/~WRL0005.tmp

venv/
ENV/
env/

__pycache__/
*.py[cod]
*$py.class

*.sqlite3
*.db

.vscode/
.idea/
.DS_Store

.env
pomoc.py
moje/Zrzut ekranu 2026-01-03 124110.png
